

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgjwt" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";





SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."global_chat" (
    "id" bigint NOT NULL,
    "email" character varying NOT NULL,
    "body" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "sender_id" "uuid" DEFAULT "gen_random_uuid"(),
    "photo" character varying
);


ALTER TABLE "public"."global_chat" OWNER TO "postgres";


COMMENT ON TABLE "public"."global_chat" IS 'chat global de mi proyecto';



CREATE TABLE IF NOT EXISTS "public"."global_chat_comments" (
    "id" bigint NOT NULL,
    "message_id" bigint NOT NULL,
    "sender_id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "body" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."global_chat_comments" OWNER TO "postgres";


ALTER TABLE "public"."global_chat_comments" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."global_chat_comments_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE "public"."global_chat" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."global_chat_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."private_chats" (
    "id" bigint NOT NULL,
    "user_id1" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id2" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."private_chats" OWNER TO "postgres";


ALTER TABLE "public"."private_chats" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."private_chats_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."private_messages" (
    "id" bigint NOT NULL,
    "chat_id" bigint NOT NULL,
    "sender_id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "body" character varying NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."private_messages" OWNER TO "postgres";


ALTER TABLE "public"."private_messages" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."private_messages_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."user_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email" character varying NOT NULL,
    "bio" "text",
    "display_name" character varying,
    "birthdate" "date",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "photo" character varying
);


ALTER TABLE "public"."user_profiles" OWNER TO "postgres";


ALTER TABLE ONLY "public"."global_chat_comments"
    ADD CONSTRAINT "global_chat_comments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."global_chat"
    ADD CONSTRAINT "global_chat_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."private_chats"
    ADD CONSTRAINT "private_chats_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."private_messages"
    ADD CONSTRAINT "private_messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."global_chat_comments"
    ADD CONSTRAINT "global_chat_comments_message_id_fkey" FOREIGN KEY ("message_id") REFERENCES "public"."global_chat"("id");



ALTER TABLE ONLY "public"."global_chat_comments"
    ADD CONSTRAINT "global_chat_comments_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."global_chat"
    ADD CONSTRAINT "global_chat_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."private_chats"
    ADD CONSTRAINT "private_chats_user_id1_fkey" FOREIGN KEY ("user_id1") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."private_chats"
    ADD CONSTRAINT "private_chats_user_id2_fkey" FOREIGN KEY ("user_id2") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."private_messages"
    ADD CONSTRAINT "private_messages_chat_id_fkey" FOREIGN KEY ("chat_id") REFERENCES "public"."private_chats"("id");



ALTER TABLE ONLY "public"."private_messages"
    ADD CONSTRAINT "private_messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id");



CREATE POLICY "Enable delete for users based on user_id" ON "public"."global_chat_comments" FOR DELETE TO "authenticated" USING ((("sender_id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."global_chat" "gc"
  WHERE (("gc"."id" = "global_chat_comments"."message_id") AND ("gc"."sender_id" = "auth"."uid"()))))));



CREATE POLICY "Enable insert for authenticated users " ON "public"."global_chat" FOR INSERT TO "authenticated" WITH CHECK (((( SELECT "auth"."uid"() AS "uid") = "sender_id") AND ((( SELECT "auth"."jwt"() AS "jwt") ->> 'email'::"text") = ("email")::"text")));



CREATE POLICY "Enable insert for authenticated users " ON "public"."user_profiles" FOR INSERT TO "authenticated" WITH CHECK (((( SELECT "auth"."uid"() AS "uid") = "id") AND ((( SELECT "auth"."jwt"() AS "jwt") ->> 'email'::"text") = ("email")::"text")));



CREATE POLICY "Enable insert for authenticated users only" ON "public"."global_chat_comments" FOR INSERT TO "authenticated" WITH CHECK (((( SELECT "auth"."uid"() AS "uid") = "sender_id") AND ((( SELECT "auth"."jwt"() AS "jwt") ->> 'email'::"text") = "email")));



CREATE POLICY "Enable insert for user partisipating in the chat" ON "public"."private_chats" FOR INSERT WITH CHECK (((( SELECT "auth"."uid"() AS "uid") = "user_id1") OR (( SELECT "auth"."uid"() AS "uid") = "user_id2")));



CREATE POLICY "Enable post deletion based on user_id" ON "public"."global_chat" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "sender_id"));



CREATE POLICY "Enable read access for all users" ON "public"."global_chat_comments" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read access for authenticated users" ON "public"."global_chat" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read access to authenticatod users" ON "public"."user_profiles" FOR SELECT USING (true);



CREATE POLICY "Enable read for users participating in the chat" ON "public"."private_messages" FOR SELECT USING (((( SELECT "auth"."uid"() AS "uid") = ( SELECT "private_chats"."user_id1"
   FROM "public"."private_chats"
  WHERE ("private_chats"."id" = "private_messages"."chat_id"))) OR (( SELECT "auth"."uid"() AS "uid") = ( SELECT "private_chats"."user_id2"
   FROM "public"."private_chats"
  WHERE ("private_chats"."id" = "private_messages"."chat_id")))));



CREATE POLICY "Enable reed for users partisipanting in the chat" ON "public"."private_chats" FOR SELECT TO "authenticated" USING (((( SELECT "auth"."uid"() AS "uid") = "user_id1") OR (( SELECT "auth"."uid"() AS "uid") = "user_id2")));



CREATE POLICY "Enable send their messags for users partisipating in the chat" ON "public"."private_messages" FOR INSERT TO "authenticated" WITH CHECK ((((( SELECT "auth"."uid"() AS "uid") = ( SELECT "private_chats"."user_id1"
   FROM "public"."private_chats"
  WHERE ("private_chats"."id" = "private_messages"."chat_id"))) OR (( SELECT "auth"."uid"() AS "uid") = ( SELECT "private_chats"."user_id2"
   FROM "public"."private_chats"
  WHERE ("private_chats"."id" = "private_messages"."chat_id")))) AND (( SELECT "auth"."uid"() AS "uid") = "sender_id")));



CREATE POLICY "Enable update for authenticated users" ON "public"."global_chat" FOR UPDATE TO "authenticated" USING (((( SELECT "auth"."uid"() AS "uid") = "sender_id") AND (( SELECT ("auth"."jwt"() ->> 'email'::"text")) = ("email")::"text")));



CREATE POLICY "Enable update their own profile for authenticated users" ON "public"."user_profiles" FOR UPDATE TO "authenticated" USING ((( SELECT "auth"."uid"() AS "uid") = "id")) WITH CHECK ((( SELECT "auth"."uid"() AS "uid") = "id"));



ALTER TABLE "public"."global_chat" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."global_chat_comments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."private_chats" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."private_messages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_profiles" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";






ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."global_chat";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."global_chat_comments";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."private_messages";



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";


























































































































































































GRANT ALL ON TABLE "public"."global_chat" TO "anon";
GRANT ALL ON TABLE "public"."global_chat" TO "authenticated";
GRANT ALL ON TABLE "public"."global_chat" TO "service_role";



GRANT ALL ON TABLE "public"."global_chat_comments" TO "anon";
GRANT ALL ON TABLE "public"."global_chat_comments" TO "authenticated";
GRANT ALL ON TABLE "public"."global_chat_comments" TO "service_role";



GRANT ALL ON SEQUENCE "public"."global_chat_comments_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."global_chat_comments_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."global_chat_comments_id_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."global_chat_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."global_chat_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."global_chat_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."private_chats" TO "anon";
GRANT ALL ON TABLE "public"."private_chats" TO "authenticated";
GRANT ALL ON TABLE "public"."private_chats" TO "service_role";



GRANT ALL ON SEQUENCE "public"."private_chats_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."private_chats_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."private_chats_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."private_messages" TO "anon";
GRANT ALL ON TABLE "public"."private_messages" TO "authenticated";
GRANT ALL ON TABLE "public"."private_messages" TO "service_role";



GRANT ALL ON SEQUENCE "public"."private_messages_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."private_messages_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."private_messages_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."user_profiles" TO "anon";
GRANT ALL ON TABLE "public"."user_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_profiles" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "service_role";






























RESET ALL;
